$theme-colors: (
    "primary": #00fff8,
    "dark": #242424,
    "light":#333131,
);

$navbar-dark-toggler-border-color: rgba(0, 0, 0, 0);
$navbar-dark-active-color: rgba(255, 255, 255, 0);

@import 'node_modules/bootstrap/scss/bootstrap';

.navbar-dark .navbar-toggler-icon {
    background-image: url('./hamburger-blue.svg');
}