$theme-colors: (
    "primary": #00fff8,
    "dark": #242424,
    "light":#333131,
);

$navbar-dark-toggler-border-color: rgba(0, 0, 0, 0);
$body-bg: #2c2a2a;

@import 'node_modules/bootstrap/scss/bootstrap';

.navbar-dark .navbar-toggler-icon {
    background-image: url('./hamburger-blue.svg');
}